*{
    
    padding: 0%;
    margin: 0%;
    }
    
    
    body{
        background-color: #1a1a1a;
    }
    
    .banner{
    height: 450px;
    width: 850px;
    background-image: url("./assents/banner\ \(2\).png"); /*ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    }
    
    li a{
    
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        padding: 25px;
     }
    
    ul{
        display: flex; /*ativa a propriedade de alinhamento*/
        flex-direction: row; /*coloca os elementos na horizontal*/
    }
    
    li{
    list-style: none; /*remove os pontos das lista*/
    }
    
    nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
    
     #logo{
    height: 100px;
    width: 100px;
     }
    
     .bi{
    font-size: 40px;
    color: #4c544c;
    
     }
    
     .texto-banner{
        color: #ffffff;
       font-size: 25px;
       
     }
    
     .btn{
        height: 45px;
        width: 115px;
        border-radius: 55px;/*Deixa a  borda redonda*/
        border: none; /*Serve para remover a borda*/
        color: #ffffff;
        font-size: 19px;
        background-color: #333333;
        margin: 30px;
     }

     .banner-estrutura{

        width: 220px;
     }

     .section-banner{
        display: flex;
        justify-content: center;
     }

     .titulo{
color: #ffffff;
font-weight: bold;
font-size: 35px;
}

.estrutura-titulo{
   display: flex;
   justify-content: center;
   padding: 30px;
}

.protudos{
   height: 380px;
   width: 250px;
}
     
.Valor{
   color: #ffffff;
   font-weight: bold;
   font-size: 30px;
}

.card-texto{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.card{
   width: 250px;
   height: 430px;
}

.cores{
   height: 20px;
   width: 15px;
   border-radius: 55px;/*Deixa a  borda redonda*/
   border: none; /*Serve para remover a borda*/
   }

   .vermelho{
      background-color: red;
   }

   .amarelo{
background-color: yellow;
   }

   .azul{
      background-color: blue;
   }

   .caixa-cores{
      display: flex;
      flex-direction: row;
      padding: 5px;
   }

   .carousel{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 20px; /*ele dar uma distancia igaul entre os elementos */
   }
    
   .protudos{
      height: 380px;
      width: 250px;
   }
        
   .Valor{
      color: #ffffff;
      font-weight: bold;
      font-size: 30px;
   }
   
   .card-texto{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   
   .card{
      width: 250px;
      height: 430px;
   }
   
   .cores{
      height: 20px;
      width: 15px;
      border-radius: 55px;/*Deixa a  borda redonda*/
      border: none; /*Serve para remover a borda*/
      }
   
      .cinza{
         background-color: gray;
      }
   
      .roxo{
   background-color: blueviolet;
      }
   
      .branco{
         background-color: #ffffff;
      }
   
      .caixa-cores{
         display: flex;
         flex-direction: row;
         padding: 5px;
      }
    
    .protudos{
      height: 380px;
      width: 250px;
   }
        
   .Valor{
      color: #ffffff;
      font-weight: bold;
      font-size: 30px;
   }
   
   .card-texto{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   
   .card{
      width: 250px;
      height: 430px;
   }
   
   .cores{
      height: 20px;
      width: 15px;
      border-radius: 55px;/*Deixa a  borda redonda*/
      border: none; /*Serve para remover a borda*/
      }
   
      .preto{
         background-color: black;
      }
   
      .amarelo{
   background-color: yellow;
      }
   
      .verde{
         background-color: darkgreen;
      }
   
      .caixa-cores{
         display: flex;
         flex-direction: row;
         padding: 5px;
      }

      .banner-xbox{
         background-image: url("./assents/x-box.png");
         height: 450px;
         width: 850px;
         background-size: cover;
         background-repeat: no-repeat;
      }

.texto-Xbox{
   color: #ffffff;
   font-size: 20px;
   font-weight: 700px;
}

.banner-xbox{
   display: flex;
  justify-content: end;
}